/* #region CSS reset */
:root {
  font-size: 62.5%; /* 1 REM = 10px */
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  /* font-size: 100%; */
  list-style-type: none;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
/* #endregion */
