.biktheft-bg {
  background: var(--cor-s3);
  padding-top: 36px;
  box-shadow: inset 0 -100px var(--cor-bg-pagina);
}

.biktheft-border {
  background-image: url("../img/fotos/seguros.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 500px 20px;

  max-width: 1000px;
  height: 630px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  /* align-items: center; */
}

.opacity {
  background-image: url("../img/fotos/seguros.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  opacity: 0.6;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.biktheft-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: rigth;
  gap: 20px;
  max-width: 100%;
  height: 100%;
  max-height: 630px;
  padding: 45px 120px;
}
.biktheft-container p {
  color: var(--cor-s3);
  max-width: 60ch;
}

.biktheft-titulo {
  color: var(--cor-s6);
}

.biktheft-container .fonte-media::before {
  content: url("../img/icones/seguro.svg");
  width: 32px;
  height: 32px;
}

/* #region Responsivo */
@media (max-width: 600px) {
  .biktheft-bg {
    padding-top: 0;
    box-shadow: none;
  }

  .biktheft-container {
    padding: 30px 20px;
  }

  .opacity p,
  .opacity {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 18px;
  }

  .biktheft-container,
  .biktheft-bg {
    height: max-content;
  }
  .opacity,
  .biktheft-border {
    background-image: none;
    height: max-content;
    padding: 0px;
  }

  .biktheft-titulo {
    color: var(--cor-s12);
  }

  .biktheft-container p {
    color: var(--cor-txt2);
  }
}

/* #endregion Responsivo */
