.escolha-a-sua-bg {
  background: var(--cor-s6);
  margin: 120px 60px;
  border: 20px solid var(--cor-bg-pagina);
  padding-left: 36px;
  border-radius: 40px 40px 400px 40px;
  max-height: 630px;
  max-width: 1200px;
}

.escolha-a-sua-container {
  box-sizing: border-box;
  display: grid;
  gap: 8px 16px;
  align-items: flex-start;
  /* justify-content: center; */
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}

.escolha-a-sua-container > div > img {
  border-radius: 12px;
  object-fit: fill;
  object-position: bottom right;
}

.escolha-a-sua-container > div {
  place-self: flex-end center;
}
.img-1 {
  grid-row: span 2;
}

.escolha-texto {
  display: flex;
  flex-direction: column;
  gap: 18px;
  grid-row: span 2;
  grid-column: span 2;
}

.img-6 {
  grid-column: 3 / -1;
}
