.footer-bg {
  background-color: var(--cor-bg12);
  height: 350px;
  border-radius: 20px 20px 0 0;
  position: relative;
}

.footer-bg::before,
.footer-container::after,
.footer-bg::after {
  content: "";
  width: 2px;
  height: 130px;
  background-color: var(--cor-s10);
  position: absolute;
  margin-left: 50%;
  margin-top: 220px;
}

.footer-bg::after {
  height: 36px;
  margin-top: -196px;
  margin-left: 50.4%;
}

.footer-container::after {
  margin-top: 0px;
}

.footer-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: top;
  padding: 45px 0;
  position: relative;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.menu-footer img {
  max-width: 180px;
}

.menu-footer nav li:nth-child(-n + 3) {
  margin-bottom: 20px;
}

.contatos-redes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contatos {
  margin-top: 20px;
}

.contatos div:first-child {
  margin-bottom: 8px;
}

.contatos-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contatos img {
  max-width: 32px;
}

.redes {
  display: flex;
  gap: 40px;
}

/* #region Responsivo */

@media (max-width: 650px) {
  .footer-bg {
    background-color: var(--cor-bg12);
    height: 100%;
  }

  .footer-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .menu-footer,
  .contatos-redes {
    justify-self: center;
    gap: 12px;
  }

  .contatos-flex,
  .redes {
    justify-content: center;
  }

  .contatos {
    margin-top: 0;
  }

  .menu-footer nav li {
    text-align: center;
  }

  .footer-bg::after,
  .footer-bg::before,
  .footer-container::after {
    display: none;
  }
}
/* #endregion Responsivo */
