.contato-titulo .fonte-media-P::before {
  content: url("../img/icones/telefone.svg");
  width: 32px;
  height: 32px;
}

/* .contato-titulo {
  padding-bottom: 200px;
} */

.formulario-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  place-content: center;
  background-color: red;
}

.formulario-input{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formulario-dados label {
  display: block;
  margin-bottom: 4px;

}

.formulario-dados input {
  width: max-content;
}

.nome-input, .enredeco-input, .mensagem-input {
  grid-column: 1 / -1;
}
