.contato-titulo .fonte-media-P::before {
  content: url("../img/icones/telefone.svg");
  width: 32px;
  height: 32px;
}

/* #region Formulario */
.formulario-bg {
  background-color: var(--cor-bg2);
  border-radius: 20px;
}

.formulario-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
  gap: 0 30px;
}

.formulario-informacoes-bg {
  background-color: var(--cor-bg3);
  padding: 30px 30px 30px 60px;
  border-radius: 16px 0 0 16px;
}

.formulario-informacoes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

.formulario-informacoes div:first-child p {
  margin-bottom: 24px;
}

.formulario-informacoes div:last-child h6 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.formulario-informacoes div:last-child p {
  text-align: left;
  display: grid;
  grid-template-columns: 30px auto;
  align-content: center;
  padding-top: 12px;
}

.formulario-informacoes div:last-child p::before {
  content: url("../img/icones/local.svg");
  width: 30px;
  height: 30px;
  justify-self: end;
}

.formulario-informacoes div:last-child p:nth-child(odd)::before {
  content: url("../img/icones/email.svg");
}

.formulario-informacoes div:last-child p:last-child::before {
  content: url("../img/icones/telefone.svg");
}

.formulario-informacoes div:last-child p:nth-child(-n + 3) {
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 2px solid var(--cor-s9);
}

.formulario-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 32px;
  padding: 60px 60px 0 0;
}

.formulario-input h6::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-right: 8px;
  background-color: var(--cor-p1);
}

.formulario-input h6 {
  display: flex;
  place-items: center;
}

.formulario-input div input,
.mensagem-input textarea {
  width: 100%;
  height: 32px;
}

.mensagem-input textarea,
input[type="text"],
[type="number"],
[type="email"] {
  padding: 8px 0 0 4px;
  background-color: var(--cor-bg2);
  border: 1px solid var(--cor-s4);
  border-radius: 4px;
}

.mensagem-input textarea {
  height: 100px;
  padding: 16px 4px;
}

.formulario-dados label {
  display: block;
  width: fit-content;
  padding: 0 6px;
  margin-left: 8px;
  margin-bottom: -10px;
  position: relative;
  background-color: var(--cor-bg2);
}

.formulario-dados input {
  width: max-content;
}

.nome-input,
.enredeco-input,
.mensagem-input {
  grid-column: 1 / -1;
}
/* #endregion Formulario */

/* #region Locais */
.loja-locais {
  display: grid;
  grid-template-areas:
    "head head"
    "local1 local2";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 64px 60px;
  padding: 120px 60px;
}

.loja-locais h2::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 12px;
  margin-right: 8px;
  background-color: var(--cor-p1);
}

.loja-locais h2 {
  grid-area: head;
  margin-left: 60px;
  display: flex;
  place-items: center;
}

.loja-principal h5::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-right: 8px;
  background-color: var(--cor-p1);
}

.loja-principal h5 {
  display: flex;
  place-items: center;
}

.loja-principal {
  max-width: fit-content;
  place-self: center;
}

.loja-principal .img {
  width: 100%;
  max-width: 548px;
  object-fit: cover;
  object-position: left;
}

.loja-principal h5,
.loja-principal .loja-informacoes {
  background-color: var(--cor-bg3);
  padding: 0 30px 20px 30px;
}

.loja-principal h5 {
  padding-top: 20px;
}

.loja-principal .loja-informacoes {
  border-radius: 0 0 12px 12px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 18px;
}

.enderecos > p:first-child,
.loja-contatos > p:first-child {
  margin-bottom: 18px;
}
/* #endregion Locais */

/* #region Responsivo*/
@media (max-width: 840px) {
  .loja-locais .loja-informacoes {
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
  }
  .loja-principal h5 {
    text-align: center;
  }
}

@media (max-width: 790px) {
  .formulario-container {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
  .formulario-informacoes-bg,
  .formulario-bg {
    border-radius: 0;
  }

  .formulario-input,
  .formulario-informacoes {
    padding: 20px 40px;
    gap: 10px;
  }
}

@media (max-width: 690px) {
  .loja-locais {
    display: grid;
    grid-template-areas:
      "head"
      "local1"
      "local2";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 40px;
    padding: 10px 20px;
  }
}

@media (max-width: 500px) {
  .formulario-input {
    grid-template-columns: 1fr;
  }
}

/* #endregion Responsivo*/
