.orcamento-container {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 1200px;
  margin-left: 60px;
  margin-right: 60px;
  gap: 30px;
}

.orcamento-bg {
  background-color: var(--cor-bg3);
  border-radius: 16px;
  box-shadow: 1px 1px 5px var(--cor-s7);
  margin: 60px auto;
}

.orcamento-tipo {
  padding: 30px 0 30px 30px;
  width: fit-content;
}

.orcamento-tipo input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.orcamento-tipo label,
p {
  cursor: pointer;
  color: var(--cor-txt2);
  font: 600 1.2rem/1.5 "Poppins", sans-serif;
}

.orcamento-formulario {
  background-color: var(--cor-bg2);
  padding: 30px;
  border-radius: 0px 16px 16px 0px;
}

.orcamento-tipo label::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border: 1px solid var(--cor-s11);
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
}

.label-btn {
  padding: 12px;
  margin-top: 8px;
  border-radius: 4px;
  background: var(--cor-bg5);
  font-weight: 400;
  display: inline-block;
  margin-right: 18px;
}

.orcamento-tipo input:checked + label::before {
  border-color: var(--cor-p3);
  box-shadow: inset 0 0 0 2px var(--cor-bg5), inset 0 0 0 6px var(--cor-p2);
}

.orcamento-conteudo {
  display: none;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: block;
}

.bicicleta-selecao,
.seguro-selecao {
  margin-top: 18px;
}

.selecao-bicicleta-lista .lista-item,
.selecao-seguro-lista .lista-item {
  background: var(--cor-bg5);
  border-radius: 8px;
  padding: 12px;
  width: fit-content;
}

.selecao-seguro-lista {
  display: flex;
  gap: 18px;
}

.selecao-bicicleta-lista .lista-item label {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  flex-direction: row;
  width: 225px;
}

.selecao-seguro-lista .lista-item label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  flex-direction: row;
  width: 50px;
}

.selecao-bicicleta-lista .lista-item + .lista-item {
  margin-top: 10px;
}

.bicicleta-info {
  display: none;
}

.bicicleta-info img {
  max-width: 100px;
}

.selecao-bicicleta-lista #bike-ground:checked ~ #ground-info,
.selecao-bicicleta-lista #bike-cloudness:checked ~ #cloudness-info,
.selecao-bicicleta-lista #bike-storm:checked ~ #storm-info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: end;
  gap: 8px;
}

.bicicleta-info .bicicleta-especificacoes li {
  display: flex;
  gap: 4px;
  margin-top: 4px;
  align-items: end;
}

.bicicleta-info .bicicleta-especificacoes li p {
  width: max-content;
}

.bicicleta-info .bicicleta-especificacoes li img {
  max-width: 18px;
}

#orcamento .formulario-input {
  gap: 18px 24px;
  padding: 0px;
  margin-bottom: 24px;
}
