.biktheft-bg {
  margin-bottom: 100px;
}

.biktheft-titulo .fonte-media::before {
  content: url("../img/icones/seguro.svg");
  width: 32px;
  height: 32px;
}

.Biktheft-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-height: 630px;
  height: 100%;
}

.plano-prata,
.plano-ouro {
  background-color: rgba(84, 84, 84, 0.4);
  border-radius: 40px 40px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 32px;
}

.plano-prata {
  max-width: fit-content;
  max-height: fit-content;
  gap: 20px;
  padding: 20px;
}

.plano-ouro {
  background-color: rgba(87, 59, 0, 0.6);
}

.lista-beneficios-prata,
.lista-beneficios-ouro {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lista-beneficios-prata li::before {
  content: url("/img/icones/Seguros_Visto_Prata.svg");
  width: 30px;
  height: 31px;
  padding-right: 8px;
}

.lista-beneficios-ouro li::before {
  content: url("/img/icones/Seguros_Visto_Ouro.svg");
  width: 30px;
  height: 31px;
  padding-right: 8px;
}

/* #region Responsivo */
@media (max-width: 800px) {
  .plano-prata,
  .plano-ouro {
    gap: 15px;
    padding: 16px;
  }

  .lista-beneficios-prata,
.lista-beneficios-ouro {
  gap: 10px;
}
}

@media (max-width: 600px) {
  .Biktheft-container {
    /* flex-direction: column;*/
    max-height: fit-content;
    padding: 40px 0px;
    display: grid;
  
  }

  .plano-prata {
    background-color: rgba(84, 84, 84, 0.5);
    max-width: inherit;
  }
}

@media (max-width: 360px){
  .biktheft-titulo {
    text-align: center;
  }

  .lista-beneficios-prata,
  .lista-beneficios-ouro, 
  .Biktheft-container h1{
    gap: 18px;
    text-align: center;
  }

  .lista-beneficios-prata li::before,
  .lista-beneficios-ouro li::before {
    display: none;
  }

  .lista-beneficios-prata li{
    border-bottom: solid var(--cor-s4) 1px;
  }

  .lista-beneficios-ouro li{
    border-bottom: solid var(--cor-p2) 1px;
  }
}
/* #endregion Responsivo */