.titulo-bg {
  padding: 60px 0px;
  background-color: var(--cor-bg11);
}

.titulo {
  padding: 0 40px;
}

.termos-container {
  padding: 40px;
  max-width: 90ch;
}
.termos-container h2 {
  margin-bottom: 20px;
}

.termos-container p + h2 {
  margin-top: 14px;
}
